
$title-font: "Henny Penny", system-ui;
$body-font: "Caveat Brush", cursive;
$btn-font: "Kranky", serif;

body, html {

  overflow: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
         -o-user-select: none;
}

$pale: #f7f7f3;
$gold: #b19680;
$leaf-green: #90a77b; //#516e37;
$dark-green: #4a6234;
$dark-red: #d42e10;

$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.8);


$red: #f40a03;
$orange: #ff7c22;
$yellow: #fdbc03;
$light-yellow: #fece4f;
$light-green: #8caa7e;
$mid-green: #537e74;
$darker-green: #416252;
$blue: #3d4655;

body {
  margin: 0;
}

#app {
  display: flex;
  width:100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  font-family: $title-font;
}

body, input {
  font-family: $body-font;
  font-size: 1.2rem;
}

button {
  font-family: $title-font;
  margin-top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;

  &.form-btn {
    font-family: $btn-font;
    border-radius: 0.5rem;
    box-shadow: 2px 5px black;
    text-transform: uppercase;

    background-color: $dark-green;
    color: #fff;

    &:hover {
      background-color: $dark-red;
    }
  }
}



// #app {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   font-weight: normal;
// }

// a,
// .green {
//   text-decoration: none;
//   color: hsla(160, 100%, 37%, 1);
//   transition: 0.4s;
//   padding: 3px;
// }

// @media (hover: hover) {
//   a:hover {
//     background-color: hsla(160, 100%, 37%, 0.2);
//   }
// }

// @media (min-width: 1024px) {
//   body {
//     display: flex;
//     place-items: center;
//   }

//   #app {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     padding: 0 2rem;
//   }
// }
